@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a id = "first" href="https://docs.microsoft.com/aspnet/core" onclick="abc(event)">building Web apps with ASP.NET Core</a>.</p>
</div>
