@model dal.reportViewModel

@{
    
    ViewData["Title"] = "Report a Truck";
    
    ViewData["NearbyTabState"] = "";
    ViewData["ReportTabState"] = "active";
    ViewData["FindTabState"] = "";

}

<H1>Report View</H1>

<form asp-action="Report" asp-controller="home" method="post">  
   <select asp-for="truckId" asp-items="Model.trucks">
   </select>
   <select asp-for="locationId" asp-items="Model.locations">
       
   </select>
   <input type="submit" name="btnSubmit" value="Submit" class="btn btn-success" />  
</form>

