@model dal.report

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="reportTime" class="control-label"></label>
                <input asp-for="reportTime" class="form-control" />
                <span asp-validation-for="reportTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="truckId" class="control-label"></label>
                <select asp-for="truckId" class="form-control" asp-items="ViewBag.truckId"></select>
                <span asp-validation-for="truckId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="locationId" class="control-label"></label>
                <select asp-for="locationId" class="form-control" asp-items="ViewBag.locationId"></select>
                <span asp-validation-for="locationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startTime" class="control-label"></label>
                <input asp-for="startTime" class="form-control" />
                <span asp-validation-for="startTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endTime" class="control-label"></label>
                <input asp-for="endTime" class="form-control" />
                <span asp-validation-for="endTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <select asp-for="userId" class="form-control" asp-items="ViewBag.userId"></select>
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
