@model dal.truck

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>truck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="truckId" />
            <div class="form-group">
                <label asp-for="truckName" class="control-label"></label>
                <input asp-for="truckName" class="form-control" />
                <span asp-validation-for="truckName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="homeCity" class="control-label"></label>
                <input asp-for="homeCity" class="form-control" />
                <span asp-validation-for="homeCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="homeState" class="control-label"></label>
                <input asp-for="homeState" class="form-control" />
                <span asp-validation-for="homeState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="foodStyle" class="control-label"></label>
                <input asp-for="foodStyle" class="form-control" />
                <span asp-validation-for="foodStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="priceRange" class="control-label"></label>
                <input asp-for="priceRange" class="form-control" />
                <span asp-validation-for="priceRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tagLine" class="control-label"></label>
                <input asp-for="tagLine" class="form-control" />
                <span asp-validation-for="tagLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="truckURL" class="control-label"></label>
                <input asp-for="truckURL" class="form-control" />
                <span asp-validation-for="truckURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
