@model dal.location

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="locationId" />
            <div class="form-group">
                <label asp-for="locationName" class="control-label"></label>
                <input asp-for="locationName" class="form-control" />
                <span asp-validation-for="locationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geocode" class="control-label"></label>
                <input asp-for="geocode" class="form-control" />
                <span asp-validation-for="geocode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="locationDescription" class="control-label"></label>
                <input asp-for="locationDescription" class="form-control" />
                <span asp-validation-for="locationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
