
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-info"> -->
    
  <a class="navbar-brand" href="#">Truck Track
    
      <!-- <h2>TRUCK TRACK</h2> -->
      </a>
  <br>
  <p class = "bg-light text-dark">
