<!DOCTYPE html>
<html lang="en">
<head>
<title>Truck Details</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Truck Track</h2>

<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>

<table style="width:100%">
  <tr>
    <th>Truck Name</th>
  </tr>
  <tr>
    <td>Home City: </td>
    <td>Truck Name</td>
  </tr>
  <tr>
    <td>Home State: </td>
    <td>Truck Name</td>
  </tr>
  <tr>
    <td>Food Style: </td>
    <td>Truck Name</td>
  </tr>
  <tr>
    <td>Price Range: </td>
    <td>Truck Name</td>
  </tr>
  <tr>
    <td>Tag Line: </td>
    <td>Truck Name</td>
  <tr>
    <td>URL: </td>
    <td>Truck Name</td>
</table>
</body>
</html>

