<!DOCTYPE html>
<html lang="en">
<head>
<title>Truck List</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Truck Track</h2>

<header>
  <h4>List of Trucks</h4>
</header>

<section>
  <nav>
    <ul>
      <li><a href="https://localhost:5001/Trucks/Details/1?">Truck 1</a></li>
      <li><a href="https://localhost:5001/Trucks/Details/2?">Truck 2</a></li>
      <li><a href="https://localhost:5001/Trucks/Details/3?">Truck 3</a></li>
    </ul>
  </nav>
</section>
</body>
</html>

